/* Ci ispiriamo al sito di Zalando per riprodurre il layout nello screenshot.
Per ogni prodotto sono fornite 2 immagini: la prima sarà visualizzata all'apertura della pagina, la seconda sarà visualizzata al posto della prima, quando il cursore del mouse va in hover sulla card.
Sono presenti anche un header in posizione fixed e un footer.
Regole da usare Tutte le regole che abbiamo visto fino ad oggi.
Servirà qualche posizionamento particolare? Ai posteri l'ardua sentenza!
Consigli:
Analizzate prima il layout solo con i commenti, poi passate ai blocchi colorati.
Solo se i blocchi colorati funzionano passiamo al particolare...
Bonus:
All'hover sul cuoricino, questo diventa rosso */

/* #region Utility */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tb-header: #ff6900;
    --tb-footer: #1a1a1a;
    --tb-green: #008000;
    --tb-red: #ff0000;
    --tb-main: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: var(--tb-header);
    margin-bottom: 100px;
}

.selection {
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 20px;
    align-items: center;
}

.menu,
.icons {
    width: 20%;
    gap: 10px;
}

.logo {
    width: 60%;
    text-align: center;
}

.menu>a {
    font-size: 20px;
    text-decoration: none;
    color: var(--tb-main);

}

.boolean {
    width: 170px;
    height: 40px;
}

.icons {
    justify-content: flex-end;
}

/* #region Main */

.container {
    width: 70%;
    margin: auto;
    position: relative;
}

.row {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.outfits {
    width: 100%;
}

.col {
    width: calc(100% / 3 - 10px);

}

.img-container {
    position: relative;
}

.red {
    color: #ff0000;
}

.line-through {
    color: #1a1a1a;
    text-decoration: line-through;
}

.discount {
    background-color: var(--tb-red);
    height: 40px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;

}

.description {
    padding-bottom: 3rem;
}

.eco {
    background-color: var(--tb-green);
    height: 40px;
    padding: 0.5rem;
    margin-right: 1rem;
}

.popup {
    color: white;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
}

.heart {
    position: absolute;
    top: 2%;
    right: 2%;
    text-align: center;
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.img-container:hover .hoverimg {


    display: block;
}

.hoverimg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
}